html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
 

.global-header {
    border-bottom: 1px solid #e8eaf9 !important;
    width: 100%;
    margin: 0 auto;
    position: inherit;
    height: 75px;
    background: #FFF;
}

/* Overide the edx template css */
@media (min-width: 992px){
    header.global-header {
        position: inherit !important;
    }
    nav.wrapper-preview-menu {
        margin-top: 0px !important;
    }
}

.main-header{
    width: 100%;
    height: 100%;
    max-width: 1920px;
    position: inherit;
    margin: 0 auto;
}

.window-wrap {
    background: #e8eaf9;
}

#content{
  padding: 0;
  margin: 0px auto;
}

/* Menu */
@media (min-width: 992px){
.global-header .nav-links .secondary .dropdown-user-menu {
    border: 1px solid #eee !important;
    background-color: #fff !important;
    color: #313131;
    width: 8% !important;
    top: 75px !important;
    right: 22% !important;
    z-index: 10;
}
}
/* MAIN */

.find-courses, .university-profile {
    background-color: transparent !important;
}

@media (min-width: 992px){
#content.content-wrapper {
    padding-top: unset !important;
    padding-bottom: unset !important;
    margin-top: 75px;
}
}

main#main {
    width: 95%;
    margin: 0 auto;
}


/* Footer */
.wrapper.wrapper-footer {
    background: #01233d;
    border-top: 1px solid transparent !important;
}

.nav-colophon > ol >li > a {
    color: #FFF !important;
}

/* Hedings */
h2.header-courses {
    font-size: 28px;
    padding-bottom: 5px;
    padding-left: 2px;
}

/* Card */
section.details {
    background: white;
}

.dashboard .main-container .my-courses .course .details .wrapper-course-details .wrapper-course-actions {
    margin-right: 20px;
    margin-top: 0;
    align-self: flex-end;
}


/* Buttons */

a.course-target-link.enter-course {
    background: #ff7300 !important;
    border-radius: 25px !important;
    color: #FFF !important;
    border: 1px solid #FFF !important;
    width: 240px !important;
}

.empty-dashboard-message a.btn {
    background-color: #ff7300;
    border: 1px solid #ff7300;
    box-shadow: 0 1px 8px 0 rgb(0 0 0 / 10%);
    box-sizing: border-box;
    color: #fff;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    display: inline-block;
    letter-spacing: 1px;
    border-radius: 23px;
    margin: 0 !important;
}

a.register {
    box-shadow: none;
}

.login-register-content {
    box-sizing: border-box;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
    background: transparent;
    display: flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
}

.login-register, .financial-assistance-wrapper .financial-assistance-form {
    background: #fff;
    min-height: 100%;
    margin: 0 auto;
    display: block;
    max-width: 500px;
    padding: 10px 25px 10px 25px;
}

button.action.action-primary.action-update.js-login.login-button {
    width: 100% !important;
    color: #ff7300 !important;
    background: transparent !important;
    border: 1px solid #ff7300 !important;
}

.global-header .header-logo a .logo {
    float: left;
    height: 55px !important;
}