## mako

<%page expression_filter="h" args="online_help_token"/>

<%namespace name='static' file='../static_content.html'/>
<%namespace file='../main.html' import="login_query"/>
<%!
from django.urls import reverse
from django.utils.translation import ugettext as _
from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers
from urllib.parse import quote_plus
%>
<%! import django %>

<%
  show_explore_courses = settings.FEATURES.get('COURSES_ARE_BROWSABLE')
  show_sysadmin_dashboard = settings.FEATURES.get('ENABLE_SYSADMIN_DASHBOARD','') and user.is_staff
  self.real_user = getattr(user, 'real_user', user)
  user_id = self.real_user.id
  user_group = list(django.contrib.auth.models.Group.objects.filter(id__in=django.contrib.auth.models.Group.user_set.through.objects.filter(user_id=user_id).values('group_id')).filter(name__startswith='fagfelt').values_list('name',flat=True))
  user_group_filter = [x[7:] for x in user_group]
  support_link = configuration_helpers.get_value('SUPPORT_SITE_LINK', settings.SUPPORT_SITE_LINK)
  doc_link = get_online_help_info(online_help_token)['doc_url']

  if online_help_token == "instructor":
    help_link = doc_link
  elif support_link:
    help_link = support_link
  else:
    help_link = doc_link
%>

<div class="nav-links">
  <div class="main">
      <div class="mobile-nav-item hidden-mobile nav-item nav-tab">
        <a class="${'active ' if reverse('dashboard') == request.path else ''}tab-nav-link" href="${reverse('dashboard')}"
             aria-current="${'page' if reverse('dashboard') == request.path else 'false'}">
             My ${_("Courses")}
        </a>
      </div>
      % if show_program_listing:
        <div class="mobile-nav-item hidden-mobile nav-item nav-tab">
          <a class="${'active ' if reverse('program_listing_view') in request.path else ''}tab-nav-link" href="${reverse('program_listing_view')}"
             aria-current="${'page' if reverse('program_listing_view') == request.path else 'false'}">
             ${_("Programs")}
          </a>
        </div>
      % endif
    % if show_explore_courses:
      <div class="mobile-nav-item hidden-mobile nav-item nav-tab">
          <a class="tab-nav-link discover-new-link" href="${marketing_link('COURSES')}"
             aria-current="${'page' if '/courses' in request.path else 'false'}">
             All courses
          </a>
      </div>
    % endif

    <div class="mobile-nav-item hidden-mobile nav-item nav-tab">
      <a class="tab-nav-link discover-new-link" href="${marketing_link('COURSES')}?fagfelt=alle">
         Mutual Courses
      </a>
    </div>

    % if len(user_group) > 0:
    % for course in user_group_filter:
      <div class="mobile-nav-item hidden-mobile nav-item nav-tab">
        <a class="tab-nav-link discover-new-link" href="${marketing_link('COURSES')}?fagfelt=${ quote_plus(course) }">
          ${course}
        </a>
      </div>
    % endfor
    % endif    
    % if show_sysadmin_dashboard:
      <div class="mobile-nav-item hidden-mobile nav-item nav-tab">
        ## Translators: This is short for "System administration".
        <a class="tab-nav-link" href="${reverse('sysadmin')}">${_("Sysadmin")}</a>
      </div>
    % endif
  </div>
  <div class="secondary">
    <div class="mobile-nav-item hidden-mobile nav-item">
      <a class="help-link" href="${help_link}" rel="noopener" target="_blank" style="display: none;">${_("Help")}</a>
    </div>
    <%include file="user_dropdown.html"/>
  </div>
</div>