<%page expression_filter="h"/>
<%!
  import json
  from django.utils.translation import ugettext as _
  from openedx.core.djangolib.js_utils import js_escaped_string, dump_js_escaped_json
%>
<%inherit file="../main.html" />
<%
  course_discovery_enabled = settings.FEATURES.get('ENABLE_COURSE_DISCOVERY')
%>

<%namespace name='static' file='../static_content.html'/>

% if course_discovery_enabled:
<%block name="header_extras">
  % for template_name in ["course_card", "filter_bar", "filter", "facet", "facet_option"]:
  <script type="text/template" id="${template_name}-tpl">
      <%static:include path="discovery/${template_name}.underscore" />
  </script>
  % endfor
  <%static:require_module module_name="js/discovery/discovery_factory" class_name="DiscoveryFactory">
    DiscoveryFactory(
      ${course_discovery_meanings | n, dump_js_escaped_json},
      getParameterByName('search_query'),
      "${user_language | n, js_escaped_string}",
      "${user_timezone | n, js_escaped_string}"
    );
  </%static:require_module>
</%block>
% endif

<%block name="pagetitle">${_("Courses")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="find-courses">
      <section class="courses-container">
        % if course_discovery_enabled:
        <div id="discovery-form" role="search" aria-label="course" class="wrapper-search-context">
          <div id="discovery-message" class="search-status-label"></div>
          <form class="wrapper-search-input">
            <label for="discovery-input" class="sr">${_('Search for a course')}</label>
            <input id="discovery-input" class="discovery-input" placeholder="${_('Search for a course')}" type="text"/>
            <button type="submit" class="button postfix discovery-submit" title="${_('Search')}">
              <span class="icon fa fa-search" aria-hidden="true"></span>
              <div aria-live="polite" aria-relevant="all">
                <div id="loading-indicator" class="loading-spinner hidden">
                  <span class="icon fa fa-spinner fa-spin" aria-hidden="true"></span>
                  <span class="sr">${_('Loading')}</span>
                </div>
              </div>
            </button>
          </form>
        </div>

        <div
        style=${ "\"\"" if request.GET.get("fagfelt") is None else "display:none" }
         id="filter-bar" class="filters hide-phone is-collapsed">
        </div>
        % endif

        <div class="courses${'' if course_discovery_enabled else ' no-course-discovery'}" role="region" aria-label="${_('List of Courses')}">
          <ul class="courses-listing courses-list">
            %for course in courses:
            <li class="courses-listing-item">
              <%include file="../course.html" args="course=course" />
            </li>
            %endfor
          </ul>
        </div>


        % if course_discovery_enabled:
        <aside
        style=${ "\"\"" if request.GET.get("fagfelt") is None else "display:none" }
        aria-label="${_('Refine Your Search')}" class="search-facets phone-menu">
          <h2 class="header-search-facets">${_('Refine Your Search')}</h2>
          <section class="search-facets-lists">
          </section>
        </aside>
        % endif

      </section>
    </section>
    <script>
        // Mutation observer for the refine your search box
        const onSearchFactesListsMutate = new MutationObserver((mutations) => {
          mutations.forEach(
            mutation =>
              // When the org filter is added run onOrgFilterLoad
              onOrgFilterLoad([...mutation.addedNodes].filter(elem => elem.tagName === 'UL').filter(elem => elem.attributes['data-facet'].value === 'org')[0])
          );
          mutations.forEach(
            mutation => [...mutation.addedNodes].filter(elem => elem.tagName === 'H3' && elem.innerHTML === '\n    org\n').forEach(elem => elem.innerHTML = '\n    Course field\n')
          );
          mutations.forEach(
            mutation => [...mutation.addedNodes].filter(elem =>
              (elem.tagName === 'H3' && /^(\n    language\n|\n    modes\n)$/m.test(elem.innerHTML)) ||
              (elem.tagName === 'UL' && /^(language|modes)$/.test(elem.attributes['data-facet']?.value))
            ).forEach(elem => elem.style.display = 'none')
          );
        })

        // Handle added org filters to refine your search box
        function onOrgFilterLoad(orgFilter) {
          if (!orgFilter) return;
          // Stop listening for changes after orgFilter is found
          //onSearchFactesListsMutate.disconnect();

          // Get the fagfelt url parameter
          const fagfelt = new URL(window.location).searchParams.get('fagfelt');
          if (typeof fagfelt !== 'string') return;

          [...orgFilter.children]
            // take the list elements from orgFilter
            .filter(elem => elem.tagName === 'LI')
            // get the button from the list element
            .map(elem => [...elem.children].filter(elem => elem.tagName === 'BUTTON')[0])
            // take only the list button for the fagfelt
            .filter(elem => elem.attributes['data-text'].value?.toLowerCase() === fagfelt.toLowerCase())
            // click the button
            .filter(elem => !elem.classList.contains('selected'))
            [0]?.click();
        }

        // Listen to elements added to filter
        onSearchFactesListsMutate.observe(document.querySelector('section.search-facets-lists'), {childList: true});
    </script>
</main>